# -------- General --------
.DS_Store
Thumbs.db
.vscode/

# -------- Flutter / Dart --------
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# -------- Node.js / Express --------
**/node_modules/
**/npm-debug.log*
**/yarn-error.log*
**/.env
**/.env.*
